.formContainer {
    width: 565px;
    height: 579px;
    border-radius: 30px;
    background-color: #fbfbfb;
    padding: 64px;
}

.formTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #11101c;
    margin-bottom: 20px;
}

.formText {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
    margin-bottom: 40px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 438px;
    height: 192px;
    gap: 18px;
    margin-bottom: 40px;
}

.inputField {
    border: 1px solid rgba(17, 16, 28, 0.1);
    border-radius: 12px;
    padding: 16px 380px 16px 18px;
    width: 438px;
    height: 52px;
}

.btn {
    border-radius: 30px;
    width: 438px;
    height: 52px;
    background-color: #103931;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    text-align: center;
}